<div class="row col-10 offset-2">
  <mat-card class="col-4 offset-2 mat-card">
    <mat-card-content class="login-form-content">

      <mat-form-field appearance="outline">
        <mat-label>Username:</mat-label>
        <input type="text" matInput placeholder="Name:" (keyup.enter)="login()"
               [(ngModel)]="authenticationRequest.login">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password:</mat-label>
        <input type="password" matInput placeholder="Password:" (keyup.enter)="login()"
               [(ngModel)]="authenticationRequest.password">
      </mat-form-field>
              <button class="submit-button" type="submit" mat-button mat-stroked-button (click)="login()">
          Submit
        </button>


    </mat-card-content>
  </mat-card>
</div>
