.mat-card{
  margin-top: 10%;
  border: none;
  box-shadow: none;
}
button{
  width:100%;
  border: 1px solid black;
}
.submit-button{
  background-color: black;
  color: white;
  margin-bottom: 0.5rem;
}
mat-form-field{
  width:100%;
}

